<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
        <div>
            <p class = "comment"><%= comment.body %></p>
            <p><span class="w3-opacity"><%= "Posted by " + comment.author_name + " on " + comment.created_at.strftime("%B %d, %Y") %></span></p>
        </div>
    </div>
</div>